@font-face {
			font-family: "Roboto";
			src:url("..fonts/roboto.woff") format("woff"),
			url("../fonts/roboto.woff2") format("woff2");
			font-style: normal;
			font-weight: normal;
	}


@font-face {
			font-family: "Roboto Bold";
			src:url("..fonts/robotobold.woff") format("woff"),
			url("../fonts/robotobold.woff2") format("woff2");
			font-style: normal;
			font-weight: bold;
	}

@font-face {
			font-family: "Roboto Medium";
			src:url("..fonts/robotomedium.woff") format("woff"),
			url("../fonts/robotomedium.woff2") format("woff2");
			font-style: normal;
			font-weight: normal;
	}



	